<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo">Furniture +</h1>
            <ul class="links">
                <li class="links__individual"><h3>Orders</h3></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
    
    <footer>
   
    </footer> 
</body>
</html>