{% extends 'base.jinja' %}

{% block content %}
    
    <p>Order id: {{ order.id }}</p>
    <p>Payment method: {{ order.payment_method }}</p>
    <p>Date: {{ order.date }}</p>
    <p>Username: {{ user.username }}</p>
    <button><a href="/orders/{{ order.id }}/update">Update details</a></button>
    <form action="/orders/{{ order.id }}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
{% endblock content %}